@font-face {
  font-family: "Open Sans";
  src:
    url("../assets/fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../assets/fonts/OpenSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("../assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("../assets/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --accent-color: #ff7517;
  --primary-color: #f6f4f4;
  --secondary-color: #3e3939;
  --text-color: #2c2727;

  --header-font: "Inter", sans-serif;
  --body-font: "Open Sans", sans-serif;

  --transition-time: 0.3s;
}

body {
  /* background-color: var(--primary-color); */
  color: var(--text-color);
  font-family: var(--body-font);
  padding: 1.5em 2em;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
}

#logo {
  font-size: 2rem;
}

#logo span {
  color: var(--accent-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 auto;
}

#calculator-settings-btn {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
  transition: var(--transition-time);
}

#calculator-settings-btn:hover {
  color: var(--accent-color);
}

/* main styles */
main {
  background-color: var(--primary-color);
  flex: 1 0 auto;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  padding: 1em;
  align-items: center;
}

input,
select {
  width: 100%;
  padding: 0.5em;
  font-size: inherit;
  border: none;
  outline: none;
  border-radius: 0.5em;
  height: 2.5em;
  vertical-align: middle;
  outline: 1px solid var(--primary-color);
}

.form-container {
  min-width: 0;
  width: 100%;
  max-width: 500px;
}

.form-container h1 {
  text-align: center;
  font-size: 1.8rem;
  text-wrap-style: pretty;
  margin-bottom: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.form-row {
  display: flex;
  gap: 1em;
}

.form-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.form-input label {
  font-size: 0.8rem;
  color: var(--secondary-color);
}

form button {
  padding: 0.5em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  height: 2.5em;
  transition: var(--transition-time);
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  opacity: 0.5;
}

.form-row:last-child {
  margin-top: 2em;
}

.calculation-results-container {
  margin-top: 1em;
  border: 1px solid var(--accent-color);
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 0.5em;
}

.calculation-results-container p:last-child {
  font-weight: bold;
}

input:user-valid,
select:user-valid {
  outline: 1px solid green;
}

input:user-invalid,
select:user-invalid {
  outline: 1px solid rgb(121, 16, 16);
}

input:focus,
select:focus {
  outline: 1px solid var(--accent-color);
}

.error-message {
  height: 1.5em;
  font-size: 0.8rem;
  margin-top: 0.2em;
  color: rgb(121, 16, 16);
}
